.login-form {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.login-button {
    margin-top: 10px;
}

.login-go-signup {
    cursor: pointer;
    color: #0aadc9;
    margin-top: 50px;
}

.login-go-signup:hover {
    color: red;
    text-decoration: underline;
}

@media only screen and (min-width: 768px) {
    .login-form {
        width: 45vw;
    }
}

@media only screen and (min-width: 1000px) {
    .login-form {
        width: 20vw;
    }
}